#!/usr/bin/env xdg-open

[Desktop Entry]
Version=0.9.4
Encoding=UTF-8
Type=Application
Name=sxhkd help
GenericName=sxhkd help
Comment=Show sxhkd bindings.
Icon=system
Exec=env myterminal -e sxhkd_help
Terminal=false
Categories=System;GTK;X-XFCE;GNOME;MyScripts;
Keywords=sxhkd;help;
StartupNotify=false
