[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=SXHKD
Comment=Hotkey Daemon
Exec=sxhkd -c ~/.config/sxhkd/sxhkdrc -s "$HOME/.cache/sxhkd" &
StartupNotify=false
Terminal=false
Hidden=false
X-GNOME-Autostart-Delay=0
