#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=SXHKD
Icon=preferences-desktop-notification
Comment=Simple X HotKey Daemon
Exec=myterminal -e "run_sxhkd --start"
StartupNotify=false
Terminal=false
Hidden=false
